@*@model FoodItem*@
@model IEnumerable<FoodItem>

@{
	ViewData["Title"] = "FoodTruckMenu";
}

<h1>Le Menu</h1>

@if (User.IsInRole("Admin"))
{
	<p>
		<a class="btn btn-outline-primary" asp-action="Add"
		   asp-controller="Food">
			Add New Menu Item
		</a>
	</p>
}

@await Html.PartialAsync("_FoodTruckMenu", Model)

