@model FoodTruck.Models.FoodItem

@{
	ViewData["Title"] = "FoodTruckMenu";
}

<h1>Le Menu</h1>


<p>
<a class="btn btn-outline-primary" asp-action="Add"
   asp-controller="Food">
	Add New Menu Item
</a>
</p>

