<body class="index-body">
	@{
		ViewData["Title"] = "Home Page";
	}

	@*<div class="image"></div>*@

	<br />
	<h3>Welcome to our Food Truck!</h3>
	@* THESE ARE FOR NOW...WE WILL REMOVE THIS LATER *@
	<br />
	<br />
	<br />
	<br />
	<p>
		"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment,
		so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their
		duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.
		<br />
		<br />
		<br />
		In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed
		and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures
		have to be repudiated and annoyances accepted.
		<br />
		<br />
		<br />
		<br />
		<br />
		The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures,
		or else he endures pains to avoid worse pains."
	</p>

	<div id="mainBio">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra. Nec dui nunc mattis enim. Consectetur libero id faucibus nisl.
			Ullamcorper sit amet risus nullam eget felis eget nunc lobortis.
			Malesuada proin libero nunc consequat interdum varius sit amet mattis. Massa placerat duis ultricies lacus sed turpis tincidunt id aliquet.
			Tellus in metus vulputate eu. Id aliquet lectus proin nibh nisl.
		</p>
	</div>


	@* THESE ARE FOR NOW...WE WILL REMOVE THIS LATER *@
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

</body>

