@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


@* This policy is scripted with assitance from https://sales.resdiary.com/restaurant-standard-privacy-policy/ *@
<h2>About this policy</h2>
<p>Food Truck is committed to protecting your privacy and ensuring that your personal information is handled in a safe and responsible way. This policy outlines how we aim to achieve this and includes the information collected when: </span></p>
<ul>
	<li>FoodTruck.com</li>
	<li>you make a booking on our website.</li>
	<li>you make enquiries on our website.</li>
	<li>someone is interested in working with us.</li>
</ul>
<h2>Definition of Personal Data</h2>
<p>Personal Data means any data that relates to an identifiable person who can be directly/indirectly identified from that data. In this case, it means personal data that you give to us via our site.</span></p>
<p>By providing your personal data, you agree that we can use your personal data in accordance with this policy. </p>
<p>Ensure you understand this policy in its entirety and take your time to read it. </p>
<h2>Who are we?</h2>
<p> FoodTruck is a restaurant/venue based in the greater Tacoma Area. </p>
<h2>How do we collect information from you?</h2>
<p>We collect information from you:</p>
<ul style="text-align: left;">
	<li>when you make a booking.</li>
	<li>when you visit a restaurant (preferences, allergies etc.).</li>
	<li>make an inquiry.</li>
	<li>when you sign up to marketing emails.</li>
</ul>
<h2>What type of information is collected from you?</h2>
<p>You may be asked to submit personal information about yourself when you make a booking. We will collect this information so we can fulfill your booking request and you may dine at our venue.</p>
<p>When you make a booking:</p>
<p> Food Truck collects information such as:</p>
<ul style="text-align: left;">
	<li>title</li>
	<li>name</li>
	<li>e-mail address (used for booking confirmation and post-dining feedback emails)</li>
	<li>home or work address</li>
	<li>billing information taken for deposits, ticketing, or holding credit card information for use in the case of no-shows (where applicable)</li>
</ul>
<ul style="text-align: left;">
	<li style="font-weight: 400;"><span style="font-weight: 400;">telephone number</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">company name</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">dietary requests</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">marketing preferences (whether you opt-in or opt-out)</span></li>
</ul>
<p style="text-align: left;"><span style="font-weight: 400;">When you dine at (</span><span style="font-weight: 400;">Food Truck)</span><span style="font-weight: 400;">:</span></p>
<ul style="text-align: left;">
	<li style="font-weight: 400;"><span style="font-weight: 400;">marketing responses (where applicable)</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">survey responses</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">current and past restaurant reservation details</span></li>
</ul>
<p style="text-align: left;"><span style="font-weight: 400;">When you access our sites:</span></p>
<p style="text-align: left;"><span style="font-weight: 400;">There is “Device Information” about your computer hardware and software that is automatically collected by (</span><span style="font-weight: 400;">Food Truck)</span><span style="font-weight: 400;">. This information can include:</span></p>
<ul style="text-align: left;">
	<li style="font-weight: 400;"><span style="font-weight: 400;">device type (e.g. mobile, computer, laptop, tablet)</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">cookies</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">operating system</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">IP address</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">browser type</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">browser information (e.g., type, language, and history)</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">domain names</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">access times</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">settings</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">referring website addresses</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">other data about your device to provide the services as otherwise described in this policy.</span></li>
</ul>
<p style="text-align: left;"><span style="font-weight: 400;">Location information:</span></p>
<p style="text-align: left;"><span style="font-weight: 400;">If you use our website, we may receive your generic location (such as city or neighbourhood).</span></p>

